// colors

$red: rgb(185, 110, 110);
$blue: rgb(171, 171, 209);

//mixins

@mixin boton-azul {
    background-color: blue;
    color: white;
}

@mixin boton-rojo {
    background-color: red;
    color: white;
}

@mixin children {
    width: 150px;
    height: 150px;
    position: absolute;
    top: 60px;
    padding: 0 5px 5px;
}